<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Thembi Mahwayi/Documents/InteliJProject/MyOpenCartFrameworkV1/src/test/java/testCases">

        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="testCases.TCAccountRegistrationTest">
                <methods>
                    <include name="verify_account_registration"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>